.mq-math-mode.mq-editable-field.form-control {
  padding: 4px 8px;
  font-size: 18px;
  line-height: 1;
}

/* Disabled for now. I don't like to have it hard-coded and common for all inputs */
/*.mq-root-block.mq-empty::before {
  font-family: "Helvetica";
  font-size: 14px;
  color: #aaa;
  content: "Insert equation";
}*/
